{% extends 'core/base.html' %}
{% block content %}
    <div class="container">
        <div class="user-details">
            <h1>用户信息</h1>
            <table class="table table-hover">
                <tr>
                    <td>用户名</td>
                    <td>{{ user.username }}</td>
                </tr>
                <tr class="password">
                    <td>密码</td>
                    <td><a href="{% url 'auth.reset.password' %}" class="edit">更改密码</a></td>
                </tr>
                <tr class="email">
                    <td>邮箱</td>
                    <td>
                        <span class="value">{{ user.email }}</span>(<a href="{% url 'auth.reset.email' %}" class="edit">更改邮箱</a>)
                    </td>
                </tr>
            </table>
        </div>
        <hr>
        {% if purchaser %}
            <div class="purchasers">
                <h1>采购商信息</h1>
                <table class="table table-hover">
                    <tr>
                        <td>姓名</td>
                        <td class="purchaser-name">{{ purchaser.name }}</td>
                    </tr>
                    <tr>
                        <td>电话</td>
                        <td class="purchaser-phone">{{ purchaser.phone }}</td>
                    </tr>
                    <tr>
                        <td>地址</td>
                        <td class="purchaser-address">{{ purchaser.address }}</td>
                    </tr>
                    <tr>
                        <td>区域</td>
                        <td class="purchaser-location">{{ purchaser.location }}</td>
                    </tr>
                    <tr>
                        <td>营业执照</td>
                        <td class="purchaser-license">{{ purchaser.license }}</td>
                    </tr>
                    <tr>
                        <td>领域</td>
                        <td class="purchaser-area">{{ purchaser.area }}</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'products.dashboard' %}" class="products">产品列表</a></td>
                        <td><a href="{% url 'purchasers.edit' purchaser.id %}" class="edit">修改</a></td>
                    </tr>
                </table>
            </div>
        {% elif not user.manufacturer_set.count  %}
            <a href="{% url 'purchasers.new' %}" class="btn btn-default client-purchaser btn-block">创建采购商信息</a>
        {% endif %}

        {% if supplier %}
            <div class="suppliers">
                <h1>供应商信息</h1>
                <table class="table table-hover">
                    <tr>
                        <td>姓名</td>
                        <td class="supplier-name">{{ supplier.name }}</td>
                    </tr>
                    <tr>
                        <td>电话</td>
                        <td class="supplier-phone">{{ supplier.phone }}</td>
                    </tr>
                    <tr>
                        <td>地址</td>
                        <td class="supplier-address">{{ supplier.address }}</td>
                    </tr>
                    <tr>
                        <td>区域</td>
                        <td class="supplier-location">{{ supplier.location }}</td>
                    </tr>
                    <tr>
                        <td>营业执照</td>
                        <td class="supplier-license">{{ supplier.license }}</td>
                    </tr>
                    <tr>
                        <td>领域</td>
                        <td class="supplier-area">{{ supplier.area }}</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'products.dashboard' %}" class="products">产品列表</a></td>
                        <td><a href="{% url 'suppliers.edit' supplier.id %}" class="edit">修改</a></td>
                    </tr>
                </table>
            </div>
        {% elif not user.manufacturer_set.count  %}
            <a href="{% url 'suppliers.new' %}" class="btn btn-default client-supplier btn-block">创建供应商信息</a>
        {% endif %}
    </div>

{% endblock %}