{% extends 'core/base.html' %}

{% block content %}
    <div class="container">
        <a href="/deals/purchase_orders/dashboard?order_id={{ purchase_order.id }}" class="confirm-order">确认订单</a>
        <div class="row">
            <div class="col-md-6 supply-offer">
                <h3 class="text-center title">供应商报价</h3>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>供应商姓名</th>
                        <th>报价</th>
                        <th>报价数量</th>
                        <th>是否需要通知</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for supply_offer in supply_offers %}
                        <tr>
                            <td class="supplier-name">
                                <a href="/clients/suppliers/details/{{ supply_offer.supplier.id }}">
                                    {{ supply_offer.supplier.name }}
                                </a>
                            </td>
                            <td class="offer-price">{{ supply_offer.price }}</td>
                            <td class="offer-amount">{{ supply_offer.offer_amount }}</td>
                            <td>
                                {% if not supply_offer.is_updated %}
                                    {% if not supply_offer.is_noticed %}
                                        <a href="/deals/purchase_orders/details/{{ supply_offer.purchase_order.id }}?id={{ supply_offer.id }}"
                                           class="notice btn btn-default">
                                            通知工厂</a>
                                    {% else %}
                                        <label class="notice btn btn-default">已通知</label>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 join-purchase">
                <h3 class="text-center title">采购商拼购</h3>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>采购商名称</th>
                        <th>拼购数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for join_purchase in join_purchases %}
                        <tr>
                            <td class="purchaser-name"><a href="/">{{ join_purchase.purchaser.name }}</a></td>
                            <td class="purchase-amount">{{ join_purchase.amount }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <div class="online-chat">
            <h3 class="text-center title">在线交流</h3>
        </div>
    </div>
{% endblock %}
