{% extends "core/base.html" %}
{% load static %}

{% block messages %}
    {% for msg in messages %}
        <div class="alert alert-{{ msg.type }} message" role="alert">{{ msg.content }}</div>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="advbar row">
            <div class="col-md-12">
                <img src="{% static 'images/welcome.png' %}" alt="">
            </div>
        </div>
        <hr>
        <div class="product-list">
            <div class="row">
                {% for purchase_order in purchase_orders %}
                    <div class="product-container col-md-3">
                        <div class="row product-wrapper">
                            <div class="product-image">
                                <img src="{% static purchase_order.product.image %}" class="img-responsive">
                            </div>
                            <div class="col-md-12">
                                <div class="purchaser-name">
                                    <span class="title">采购商：</span>
                                    <span class="value">{{ purchase_order.product.purchaser.name }}</span>
                                </div>
                                <div class="product-name">
                                    <span class="title">名称：</span>
                                    <span class="value">{{ purchase_order.product.name }}</span>
                                </div>
                                <div class="product-category">
                                    <span class="title">种类：</span>
                                    <span class="value">{{ purchase_order.product.category }}</span>
                                </div>
                                <div class="product-amount right">
                                    <span class="title">数量：</span>
                                    <span class="value">{{ purchase_order.total_amount }}</span>
                                </div>
                                <div class="product-location">
                                    <span class="title">送货地点：</span>
                                    <span class="value">{{ purchase_order.product.location }}</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a class="btn btn-sm btn-default make-offer"
                                   href="/deals/supply_offers/new/{{ purchase_order.id }}">报价</a>
                                <a class="btn btn-sm btn-default join-purchase"
                                   href="/deals/join_purchases/new/{{ purchase_order.id }}">加入采购</a>
                                <a class="btn btn-sm btn-default">在线交流</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>


{% endblock %}