{% extends "core/base.html" %}
{% load static %}

{% block messages %}
    {% for msg in messages %}
        <div class="alert alert-{{ msg.type }} message" role="alert">{{ msg.content }}</div>
    {% endfor %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="advbar row">
        <div class="col-md-12">
            <img src="{% static 'images/welcome.png' %}" alt="">
        </div>
    </div>
    <hr>
    <div class="product-list">
        <div class="row">
            {% for product in products %}
                <div class="product-container col-md-3">
                    <div class="row product-wrapper">
                        <div class="product-image">
                            <img src="{% static product.image %}" class="img-responsive">
                        </div>
                        <div class="col-md-12">
                            <div class="product-name">名称：{{ product.name }}</div>
                            <div class="product-category">种类：{{ product.category }}</div>
                            <div class="product-amount right">数量：{{ product.amount }}</div>
                            <div class="product-location">送货地点：{{ product.location }}</div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-sm btn-default">报价</button>
                            <button class="btn btn-sm btn-default">加入采购</button>
                            <button class="btn btn-sm btn-default">在线交流</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>


{% endblock %}