<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    欢迎来到 Direct Connect
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-list menus">
                    <li class="homepage {% if request.resolver_match.url_name == 'homepage' %}active{% endif %}">
                        <a href="/">主页</a>
                    </li>
                    <li class="join-in {% if request.resolver_match.url_name == 'clients.select' %}active{% endif %}">
                        <a href="{% url 'clients.select' %}">申请入驻</a>
                    </li>
{#                    <li class="about-us"><a href="/">公司介绍</a></li>#}
                    <li class="release-order {% if request.resolver_match.url_name == 'products.dashboard' %}active{% endif %}">
                        <a href="{% url 'products.dashboard' %}">发布订单</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-list navbar-right">
                    {% if user.is_authenticated %}
                        <li class="{% if request.resolver_match.url_name == 'auth.center' %}active{% endif %}">
                            <a href="{% url 'auth.center' %}" class="user-center">我的中心</a>
                        </li>
                        <li><a href="{% url 'auth.logout' %}" class="logout">登出</a></li>
                        {% if user.supplier_set.count or user.purchaser.set.count %}
                            <li><a href="{% url 'auth.logout' %}?next={% url 'auth.login' %}" class="manufacturer-login">工厂登陆</a></li>
                        {% else %}
                            <li><a href="{% url 'auth.logout' %}?next={% url 'auth.login' %}" class="sales-login login">销售登陆</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li><a href="{% url 'auth.login' %}?next={% url 'auth.center' %}" class="manufacturer-login">工厂登陆</a>
                        </li>
                        <li><a href="{% url 'auth.login' %}" class="sales-login login">销售登陆</a></li>
                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</div>