<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">欢迎来到 Direct Connect</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-list navbar-right">
                    <li class="active"><a href="/" class="homepage">主页</a></li>
                    <li><a href="/" class="bbs">论坛</a></li>
                    <li><a href="/" class="showroom">展会</a></li>
                    <li><a href="/" class="meeting">电子会议</a></li>
                    <li><a href="/" class="join-in">申请入驻</a></li>
                    <li><a href="/" class="about-us">公司介绍</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</div>