{% extends 'core/base.html' %}

{% block content %}
    <div class="container">
        <h1>请选择您的身份</h1>
        <br>
        <div class="row">
            <div class="col-md-6">
                <a href="/purchasers/new" class="btn btn-default client-purchaser btn-block">创建采购商信息</a>
            </div>
            <div class="col-md-6" >
                <a href="/suppliers/new" class="btn btn-default client-supplier btn-block">创建供应商信息</a>
            </div>
        </div>
    </div>
{% endblock %}