{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="alert alert-success">{{ success_msg }}</div>
            <div class="product-container col-md-3">
                <div class="product-wrapper">
                    <div class="product-image">
                        <img src="{% static pp.product.image %}" class="img-responsive">
                    </div>
                    <div class="purchaser-name">
                        <span class="title">采购商：</span>
                        <span class="value">{{ pp.product.purchaser.name }}</span>
                    </div>
                    <div class="product-name">
                        <span class="title">名称：</span>
                        <span class="value">{{ pp.product.name }}</span>
                    </div>
                    <div class="product-category">
                        <span class="title">种类：</span>
                        <span class="value">{{ pp.product.category }}</span>
                    </div>
                    <div class="product-amount right">
                        <span class="title">数量：</span>
                        <span class="value">{{ pp.product.amount }}</span>
                    </div>
                    <div class="product-location">
                        <span class="title">送货地点：</span>
                        <span class="value">{{ pp.product.location }}</span>
                    </div>
                </div>
            </div>
            <div class="post-price-container col-md-9">
                <div class="supplier-name">
                    <span class="title">供应方：</span>
                    <span class="value">{{ pp.name }}</span>
                </div>
                <div class="supplier-phone">
                    <span class="title">联系电话：</span>
                    <span class="value">{{ pp.phone }}</span>
                </div>
                <div class="supplier-email">
                    <span class="title">邮箱：</span>
                    <span class="value">{{ pp.email }}</span>
                </div>
                <div class="post-price">
                    <span class="title">价钱：</span>
                    <span class="value">{{ pp.price }}</span>
                </div>
                <a href="/" class="back btn btn-default">返回主页</a>
            </div>
        </div>
    </div>
{% endblock %}